nav.navbar
  ul.navbar__nav
    if cActiveAss
      li.navbar__nav--item(class='active')
        a(href='/assistance')
          i.fas.fa-user-check
          span.link-text Asistencia
    else
      li.navbar__nav--item
        a(href='/assistance')
          i.fas.fa-user-check
          span.link-text Asistencia
    if cActiveReg
      li.navbar__nav--item(class='active')
        a(href='/register')
          i.fas.fa-camera-retro
          span.link-text Registrar
    else
      li.navbar__nav--item
        a(href='/register')
          i.fas.fa-camera-retro
          span.link-text Registrar

